.page {
  width: 100%;
  .card {
    padding: 50px 0;
  }
  .result {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .mark {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #F56C6C;
      color: #ffffff;
      font-size: 50px;
      text-align: center;
      line-height: 90px;
    }
    .title {
      margin-top: 20px;
      font-size: 24px;
    }
    .desc {
      width: 800px;
      font-size: 14px;
      color: #999999;
      margin-top: 30px;
      text-align: center;
    }
  }
  .detail-info {
    width: 720px;
    padding: 20px 40px;
    background: #fafafa;
    margin: 0 auto;
    margin-top: 40px;
    .name {
      font-weight: bold;
    }
    .infos {
      margin: 20px 0;
      p {
        line-height: 28px;
        font-size: 14px;
        &:before {
          content: 'x';
          border: 1px solid #F56C6C;
          color: #F56C6C;
          border-radius: 50%;
          line-height: 16px;
          text-align: center;
          width: 16px;
          height: 16px;
          display: inline-block;
          margin-right: 10px;
        }
        a:link, a:visited {
          color: #47afff;
          text-decoration: none;
          transition: all, .3s;
        }
        a:hover, a:active {
          opacity: .7;
        }
      }
    }
  }
  .buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}