<div class="page">
  <div class="basic-info-container" v-loading="loading">
    <div class="info-box info-box-default">
      <div class="num"><number-grow :value="pageData.summarize.total"></number-grow>个</div>
      <div class="name">会议室总数</div>
    </div>
    <div class="info-box info-box-success">
      <div class="num"><number-grow :value="pageData.summarize.available"></number-grow>个</div>
      <div class="name">空闲会议室</div>
    </div>
    <div class="info-box info-box-danger">
      <div class="num"><number-grow :value="pageData.summarize.using"></number-grow>个</div>
      <div class="name">使用中会议室</div>
    </div>
  </div>
  <el-card class="box-card">
    <div slot="header" class="clearfix">
      <span>会议室</span>
    </div>
    <div class="main-body" v-loading="loading">
      <div class="filter">
        <el-input v-model="filter.name" placeholder="会议室名称" style="width: 200px;"></el-input>
        <el-select v-model="filter.status" placeholder="请选择状态">
          <el-option
            v-for="item in pageData.status"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
        <el-button type="primary" @click="handleSearchSubmit">查询</el-button>
        <el-button @click="handleClearFilter">重置</el-button>
      </div>
      <div class="info">
        <el-alert
          :title="'本次筛选共有 '+pageData.tableData.length+' 条数据'"
          type="info"
          show-icon>
        </el-alert>
      </div>
      <div class="list-body">
        <el-row :gutter="20">
          <el-col :span="8" class="list-item" v-for="item,index in pageData.tableData" :key="index">
            <el-card shadow="hover">
              <div class="list-item">
                <div class="name-line">
                  <div class="name">{{item.roomName}}</div>
                  <span class="tag">
                    <el-tag v-if="item.roomStatus === 'free'" class="">空闲</el-tag>
                    <el-tag v-else type="danger">使用中</el-tag>
                  </span>
                </div>
                <div class="address">{{item.roomAddr}}</div>
              </div>
            </el-card>
          </el-col>
        </el-row>
      </div>
    </div>
  </el-card>
</div>
