<div class="page">
  <div class="basic-info-container" v-loading="loading">
    <div class="info-box info-box-default">
      <div class="num"><number-grow :value="pageData.summarize.AllTeacherNum"></number-grow></div>
      <div class="name">导师</div>
    </div>
    <div class="info-box info-box-default">
      <div class="num"><number-grow :value="pageData.summarize.applyNum"></number-grow>个</div>
      <div class="name">申请信息</div>
    </div>
    <div class="info-box info-box-success">
      <div class="num"><number-grow :value="pageData.summarize.completeNum"></number-grow>个</div>
      <div class="name">完成申请</div>
    </div>
    <div class="info-box info-box-danger">
      <div class="num"><number-grow :value="pageData.summarize.warningNum"></number-grow>条</div>
      <div class="name">网申预警</div>
    </div>
  </div>
  <div class="main">
    <div class="filter">
      <div class="filter-item" style="width: 300px;">
        <span style="width: 100px;">导师名字：</span>
        <el-input v-model="search.teacherName" placeholder="导师名字"></el-input>
      </div>
      <div class="filter-item" style="width: 300px;">
        <span style="width: 80px;">状态：</span>
        <el-select v-model="search.infoType" placeholder="请选择">
          <el-option
            v-for="item in pageData.status"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </div>
      <div class="filter-btn">
        <el-button type="primary" @click="handleSearchSubmit('filter')">查 询</el-button>
        <el-button @click="handleClearFilter">重 置</el-button>
      </div>
    </div>
  </div>
  <div v-if="filterShow" style="font-size: 14px; margin-top: 10px;text-align: center">
    当前筛选共有{{pageData.filterSummarize.applyNumForSearch}}条信息
  </div>
  <div class="main" style="min-height:calc(100vh - 580px)">
    <div class="table-container" v-loading="loading">
      <div class="gec-t-body">
        <div class="t-header t-tr">
          <div class="t-name t-td">姓名</div>
          <div class='student'>
            <div class="t-mid">
              <div class="t-student t-td">学生</div>
              <div class="t-school t-td">申请学校</div>
              <!-- <div class="t-mentor t-td">导师</div> -->
              <div class="t-ddl t-td">网申DDL</div>
              <div class="t-status t-td">状态</div>
              <div class="t-remark t-td">面试备注说明</div>
            </div>
            <div class="t-op t-td">操作</div>
          </div>
        </div>
        <div class="t-b t-tr" v-for="mentor,index in pageData.tableData" :key="index">
          <div class="t-name t-td" ><span class="link" @click="routeMentor(mentor.teacherId)">{{mentor.teacherName}}</span></div>
          <div>
            <div class="student" v-for="stu,index in mentor.studentList" :key="index">
              <div class="t-for-container t-mid">
                <div class="t-for-item" v-for="apply,index in stu.applicationsList" :key="index">
                  <div class="t-student t-td">{{stu.studentName}}</div>
                  <div class="t-school t-td">{{apply.schoolName}}</div>
                  <!-- <div class="t-mentor t-td">导师姓名</div> -->
                  <div class="t-ddl t-td">{{apply.deadline|momentDay}}</div>
                  <div class="t-status t-td"><status-block :id="apply.applicationId" :submitDate="apply.submitDate" :status="apply.applicationStatus"></status-block></div>
                  <div class="t-remark t-td">{{apply.remark || '无'}}</div>
                </div>
              </div>
              <div class="t-op t-td">
                <div>
                  <router-link :to="{path:'/dashboard/bUpdateStudent', query:{id: stu.studentId}}" class="a-link">编辑</router-link> | <router-link :to="{path:'/dashboard/student', query:{id: stu.studentId}}" class="a-link">详细信息</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
