<div class="school">
  <div class="status">
    <div class="mark mark-danger" ref="statusMark"></div>
    <div class="status-txt">状态：{{initStatusStr()}}</div>
  </div>
  <div class="school-name">
    <div class="school-txt">申请学校</div>
    <div class="school-name">{{data.applySchoolName || data.schoolName}}</div>
  </div>
  <div class="school-info">
    <div class="row">
      <div class="label">链接：</div>
      <div class="value">{{data.url ? '收到' : '未收到'}}</div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="label">是否提交：</div>
      <div class="value">{{data.applicationStatus === 4 ? '是' : '否'}}</div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="label">提交日期：</div>
      <div class="value">{{data.submitDate|momentDay}}</div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="label">网申DDL：</div>
      <div class="value">{{data.deadline|momentDay}}</div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="label">备注信息：</div>
      <div class="value">{{data.remark || '无'}}</div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="label">状态：</div>
      <div class="value">{{data.applicationStatus === 5 ? '暂不申请' : '申请中'}}</div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
