<div class="component">
  <div class="status-txt-block" v-if="this.type && this.type === 'picker'" @click="handleShowDialog">
    <div class="mark" ref="mark" style="width: 0"></div>
    <div class="status-txt" v-if="!status || status === 0">没有状态</div>
    <div class="status-txt" ref="str" v-if="status !== 0">{{str}}</div>
  </div>
  <div class="status-block" v-else @click="handleShowDialog">
    <div class="mark" ref="mark"></div>
    <div class="status-txt" v-if="!status || status === 0">没有状态</div>
    <div class="status-txt" ref="str" v-if="status !== 0">{{str}}</div>
  </div>
  <div class="gec-status-picker-board" v-if="dialogShow">
    <div class="status-picker">
      <div v-for="item,index in statusArr" v-if="item.value !== 6" @click="handleSelectStatus(item.value)" >
        <div class="tag current" v-if="item.value === buffer(item.value)" style="overflow: hidden;" @click="handleChooseDate(item.value)">
          {{item.label}}
          <span v-if="item.value === 4">
            {{date | momentDay}}
          </span>
          <div style="height: 0;opacity: 0;position: absolute;top: 10px;left: 0;">
            <el-date-picker
              v-model="date"
              type="date"
              ref="datePicker"
              placeholder="选择日期">
            </el-date-picker>
          </div>
        </div>
        <div class="tag" v-else>{{item.label}}</div>
      </div>
    </div>
    <div class="status-history">
      <div class="history-container"></div>
      <div class="option-btns">
        <div class="btn btn-submit" @click="handleChooseOk" v-if="this.type && this.type === 'picker'">确定</div>
        <div class="btn btn-submit" @click="handleSubmit" v-else>确定</div>
        <div class="btn btn-cancel" @click="handleCancel">取消</div>
      </div>
    </div>
  </div>
</div>
