<div class="page" v-loading="loading">
  <div class="gec-student-form">
    <div class="title">学员信息修改</div>
    <div class="basic-info big-row">
      <div class="name">学员基本信息</div>
      <div class="tiny-row">
        <div class="label">姓名</div>
        <div class="input">
          <el-input v-model="pageData.currentStudent.studentName" placeholder="请输入姓名"></el-input>
        </div>
      </div>
      <div class="tiny-row">
        <div class="label">手机号</div>
        <div class="input">
          <el-input v-model="pageData.currentStudent.studentPhone" placeholder="请输入手机号"></el-input>
        </div>
      </div>
    </div>
    <div class="school-info big-row">
      <div class="name">学校信息</div>
      <div class="school-item" ref="schoolItem" v-for="app,appIndex in pageData.currentStudent.applicationList" :key="appIndex">
        <div class="tiny-row">
          <div class="label">项目名称</div>
          <div class="input required">
            <el-input v-model="app.projectName" placeholder="请输入项目名称"></el-input>
          </div>
        </div>
        <div class="tiny-row">
          <div class="label">申请学校</div>
          <div class="input required">
            <el-input v-model="app.applySchoolName" placeholder="请输入申请学校"></el-input>
          </div>
        </div>
        <div class="tiny-row">
          <div class="label">推荐人</div>
          <div class="input required">
            <el-input v-model="app.teacherName" placeholder="请输入推荐人"></el-input>
          </div>
        </div>
        <div class="tiny-row">
          <div class="label">DDL</div>
          <div class="input required">
            <el-date-picker
              type="date"
              placeholder="选择日期"
              v-model="app.deadline"
              style="width: 100%">
            </el-date-picker>
          </div>
        </div>
        <div class="tiny-row">
          <div class="label">状态</div>
          <div class="input">
            <gec-status-picker :id="app.applicationId" :index="appIndex" :status="app.applicationStatus" @status="setCurrentStatus" :type="'picker'" :submitDate="app.submitDate" @submitDate="submitDate"></gec-status-picker>
          </div>
        </div>
        <div class="tiny-row">
          <div class="label">提交日期</div>
          <div class="input">
            <el-date-picker
              type="date"
              placeholder="选择日期"
              v-model="app.submitDate"
              style="width: 100%"
              disabled>
            </el-date-picker>
          </div>
        </div>
        <div class="del-school-btn" v-if="app.isDeleted" style="color:tomato">已删除</div>
        <div class="del-school-btn" @click="handleDeleteListItem(appIndex)" v-else><i class="el-icon-close"></i> 删除</div>
      </div>
      <div class="add-school-btn" @click="handleCopySchool">
        + 添加一个学校
      </div>
      <div style="clear:both"></div>
      <div class="actions">
        <div class="save-btn" @click="handleSaveSubmit">
          保存
        </div>
      </div>
    </div>
  </div>
</div>
