<div class="page">
  <div class="welcome">
    {{pageData.name}} <span>学生</span>
  </div>
  <div class="basic-info-container" v-loading="loading">
    <div class="info-box info-box-default">
      <div class="num"><number-grow :value="pageData.summarize.applyNum"></number-grow></div>
      <div class="name">已提交的学校</div>
    </div>

    <div class="info-box info-box-success">
      <div class="num"><number-grow :value="pageData.summarize.completeNum"></number-grow></div>
      <div class="name">已经完成申请</div>
    </div>
    <div class="info-box info-box-default">
      <div class="num"><number-grow :value="pageData.summarize.cecievedUrlNum"></number-grow></div>
      <div class="name">收到链接</div>
    </div>
    <div class="info-box info-box-danger">
      <div class="num"><number-grow :value="pageData.summarize.warningNum"></number-grow></div>
      <div class="name">网申预警</div>
    </div>
  </div>
  <div class="main">
    <div class="mentor" v-for="mt,index in pageData.teachersList" :key="index">
      <div class="mentor-name">
        <div class="name">{{mt.teacherName}}</div>
        <div class="recommend">推荐导师</div>
        <div class="description">
          参加项目：
          <p v-for="project,index in mt.projectsList" v-if="index===0" :key="index">{{project.projectName}}</p>
          <!-- <p v-for="project,index in mt.projectsList" :key="index">{{project.projectName}}</p> -->
        </div>
      </div>
      <div class="school-container">
        <gec-apply-card v-for="item,index in mt.applicationsList" :key="index" :data="item"></gec-apply-card>
      </div>
    </div>
  </div>
</div>
