<div class="page">
  <el-card class="card">
    <div class="result">
      <div class="mark">
        <i class="el-icon-check"></i>
      </div>
      <div class="title">提交失败</div>
      <div class="desc">请核对并修改以下信息后，再重新提交。</div>
    </div>
    <div class="detail-info">
      <div class="name">您提交的内容有如下错误：</div>
      <div class="infos">
        <p>您的账户已被冻结 <router-link to="">立即解冻 &gt;</router-link></p>
        <p>您的账户还不具备申请资格 <router-link to="">立即升级 &gt;</router-link></p>
      </div>
    </div>
    <div class="buttons">
      <el-button type="primary">返回列表</el-button>
      <el-button>查看项目</el-button>
      <el-button>打 印</el-button>
      </div>
  </el-card>
</div>
