<div class="page" v-loading="loading">
  <div class="welcome">
    {{pageData.data.teacherName}} <span>导师</span>
  </div>
  <div class="basic-info-container">
    <div class="info-box info-box-default">
      <div class="num"><number-grow :value="pageData.filterSummarize.submitNum"></number-grow>条</div>
      <div class="name">新提交信息</div>
    </div>

    <div class="info-box info-box-default">
      <div class="num"><number-grow :value="pageData.filterSummarize.applyNum"></number-grow>条</div>
      <div class="name">申请信息</div>
    </div>
    <div class="info-box info-box-success">
      <div class="num"><number-grow :value="pageData.filterSummarize.completeNum"></number-grow>个</div>
      <div class="name">已完成申请</div>
    </div>
    <div class="info-box info-box-danger">
      <div class="num"><number-grow :value="pageData.filterSummarize.warningNum"></number-grow>条</div>
      <div class="name">网申预警</div>
    </div>
  </div>
  <div class="main">
    <div class="student" v-for="st,index in pageData.data.studentList" :key="index">
      <div class="student-name">
        <div class="avatar">
          <img src="@/assets/mentor.jpg" />
        </div>
        <div class="name">{{st.studentName}}</div>
        <div class="phone">手机：{{st.studentPhone}}</div>
        <!-- <div class="description">
          参加项目：
          <p>UCB导师-数据科学与数据挖掘远程科研项目（中级&高级）???</p>
        </div> -->
        <div class="ops">
          <div class="btn-link" style="opacity: 0;">编辑</div>
          <div class="btn-link" style="opacity: 0;">删除</div>
          <div class="date">2018年1月21日 传一个</div>
        </div>
      </div>
      <div class="school-container">
        <gec-apply-card v-for="item,index in st.applicationsList" :key="index" :data="item"></gec-apply-card>
      </div>
    </div>
  </div>
</div>
